{% extends 'templates/app.twig' %}

{% block title %}Error: 404{% endblock %}

{% block contents %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>404 Error Page</h1>
            <small>Error: 404, Page not found</small>
            <!--GUIDANCE MAPPER (TOP RIGHT)-->
            <ol class="breadcrumb">
                <li><a href="{{ path_for('home') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Error: 404</li>
            </ol>
            <!--END OF GUIDANCE MAPPER-->
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

          <p>
            We could not find the page you were looking for.<br/>
            You may <a href="{{ path_for('home') }}">return Home</a>.
          </p>
          <br/>
          <br/>
          <br/>
            <img src="{{ base_url() }}/img/error404.png" width="250" align="left">
        </div>
      </div>
        </section>
    </div>
{% endblock %}
