{% extends 'templates/app.twig' %}

{% block title %}Projects - New Task{% endblock %}

{% block contents %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            New Task
            <small>This is New Task page</small>
        </h1>
        <!--GUIDANCE MAPPER (TOP RIGHT)-->
        <ol class="breadcrumb">
            <li><a href="{{ path_for('home') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Projects</li>
        </ol>
        <!--END OF GUIDANCE MAPPER-->
    </section>

    <!-- Main content -->
    <section class="content">

        <h1>New Task Page</h1>

    </section>
    <!-- /.content -->
    </div>
{% endblock %}
